{{!-- base layout for all pages. --}}
<!DOCTYPE html>
<html>
<head>
		{{!-- Keep the meta charset tag here for offline viewing --}}
		<meta charset='utf-8'>
		<title>{{title}}</title>
		<link rel='stylesheet' href='{{render_path "static/global.css"}}'>
</head>
<body>
		<x-page-content>
				{{> content-block}}
		</x-page-content>
</body>
</html>

